* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30vw;
    height: 50vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.buttons {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px) {
    .container {
        width: 75vw;
        height: 40vh;
    }
}