/* Grids are used for creating layouts */

/* Powerful layouts are formed by combo of flexbox & grids */

/* display: grid;  */ /* For container*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100dvh;
}

.container {
    background-color: rgb(85, 84, 84);
    width: 100%;
    height: 100%;
    display: grid;
    padding: 4rem;
    row-gap: 1rem;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    /* gap shorthands */
    /* gap: 1rem 1rem; */
    /* gap: 1rem; */
}

.item {
    background-color: rgb(150, 150, 245);
    border: 5px solid black;
}


/* block behaviour and inline behaviour */
/* grid = block outside + grid inside

inline-grid = inline outside + grid inside */