body
{
    text-align: center;
}

h2
{
    text-align: initial;
}

div
{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-wrap: nowrap; /*default*/
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
}

#box3{
    background-color: darkkhaki;
}

#box4{
    background-color: indianred;
}

#box5{
    background-color: slateblue;
}

#container1
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-wrap: wrap; 
}

#container2
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-wrap: wrap-reverse; 
}

#container3
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap; 
}

#container4
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; 
}

#container5
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse; 
}

#container6
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
}

#container7
{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}

#container8
{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse; 
}

#container9
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap; 
}

#container10
{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap; 
}

#container11
{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse; 
}

