div{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    /* transition-property: font-size;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 1s; */
    transition: all 2s ease-in 1s;
}

/* PSEUDO CLASS */

div:hover{
    background-color: red;
    color: white;
    border-radius: 10px 100px / 120px;
    font-size: 20px;
}

div:active{
    background-color: blue;
    color: brown;
    border-radius: 50% 20% / 10% 40%;
    font-size: 25px;
}